if SHIELD_SIMPLY_ADEPT_LEFT || SHIELD_SIMPLY_ADEPT_RIGHT || SHIELD_SIMPLY_ADEPT_DONGLE || SHIELD_SIMPLY_ADEPT_TRACKBALL
config ZMK_SPLIT
    default y
config ZMK_POINTING
    default y
endif

if SHIELD_SIMPLY_ADEPT_DONGLE
config ZMK_KEYBOARD_NAME
    default "Simply Adept"
config ZMK_SPLIT_ROLE_CENTRAL
    default y
# Set this to the number of peripherals your dongle will have.
# For a unibody, this would be 1. If you have left and right halves, set it to 2, etc.
config ZMK_SPLIT_BLE_CENTRAL_PERIPHERALS
    default 3
endif

if SHIELD_SIMPLY_ADEPT_TRACKBALL
config SPI
    default y
endif